body {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Catamaran', sans-serif;
}

.App {

}

.header {
  background-color: #282c34;
  max-height: 15%;
  display: block;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.content{
display: flex;
flex-direction: row;
}
.map-container {
  width: 70%;
  height: 900px;
  /*position: relative;*/
}

#mapid {
  /*display: inline-block;*/
  height: 100%;
  width: 100%;
}

.location-container {
width: 30% ;

}
.location-list {
width: 100%;

}
.list-item {
text-align: center;
padding: 40px 0;
box-sizing: border-box;
height: 100px;
border: 2px solid gray;
border-top: none;
}

@keyframes fade {
  from { opacity: 0.5; }
}

.blinking {
  animation: fade 1s infinite alternate;
}

.input-wrapper {
  width: 100%;
  flex: 1;
  background: #e9e;
}
input {
  width: 100%;
  padding: 40px 0;
  font-size: 1.25em;
  border: 2px solid gray;
  /*outline: none;*/
  text-align: center;
}
